.container{
 display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}
.quote {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50; 
    font-size: 36px;
    border: 15px solid transparent;

  border-radius: 6px;
  box-shadow: 0 10px 20px rgba(225, 29, 72, 0.5),
    0 6px 6px rgba(255, 29, 72, 0.5), 0 0 100px -10px #e11d48;
  transition: transform 0.3s, box-shadow 0.3s;
}

.btn {
position: absolute;  
top: 40%;
left: 46%;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  letter-spacing: -0.05em;
  background-color: #e11d48;
  color: #f1f5f9;
  padding: 0.5em 1em;
border: 15px solid transparent;
cursor: pointer;

  border-radius: 6px;
  box-shadow: 0 10px 20px rgba(225, 29, 72, 0.5),
    0 6px 6px rgba(255, 29, 72, 0.5), 0 0 100px -10px #e11d48;
  transition: transform 0.3s, box-shadow 0.3s;
}
.btn:hover {
  transform: translateY(-3px);

  box-shadow: 0 14px 28px rgba(225, 29, 72, 0.25),
    0 10px 10px rgba(255, 29, 72, 0.22), 0 0 120px -10px #e11d48;
}
